version: '3.0'

services:
    nodejs:
        environment:
            MAILER_USER: 'MAILER_USER'
            MAILER_PASSWORD: 'MAILER_PASSWORD'
            MAILER_SMTP: 'MAILER_SMTP'
            MAILER_SENDER_NAME: 'MAILER_SENDER_NAME'
            MAILER_SENDER_EMAIL: 'MAILER_SENDER_EMAIL'
            MAILER_MANAGER_EMAIL: 'MAILER_MANAGER_EMAIL'
            GRAPHQL_URL: 'GRAPHQL_URL'
            GRAPHQL_ACCESS_KEY: 'GRAPHQL_ACCESS_KEY'
            APP_URL: 'APP_URL'
            JWT_SECRET_KEY: 'JWT_SECRET_KEY'
            JWT_TTL: 'JWT_TTL'
            ENCRYPTION_CRYPTO_ALGORITHM: 'ENCRYPTION_CRYPTO_ALGORITHM' # use 'aes-256-cbc'
            ENCRYPTION_CRYPTO_KEY: 'ENCRYPTION_CRYPTO_KEY' # get it from here https://github.com/nodejs/node/issues/16746#issuecomment-348027003
            ENCRYPTION_CRYPTO_IV: 'ENCRYPTION_CRYPTO_IV' # get it from here https://github.com/nodejs/node/issues/16746#issuecomment-348027003
            CLIENT_ID: 'CLIENT_ID'
            CLIENT_SECRET: 'CLIENT_SECRET'
            BILLWERK_HOST: 'BILLWERK_HOST'
            CRM_URL: 'CRM_URL'
            CRM_AUTH_LOGIN: 'CRM_AUTH_LOGIN'
            CRM_AUTH_PASSWORD: 'CRM_AUTH_PASSWORD'
            CRM_AUTH_DB: 'CRM_AUTH_DB'
        ports:
            - "127.0.0.1:3000:3000"

    nginx:
        ports:
            - "127.0.0.1:8080:80"
