version: '3.0'

services:
    nodejs:
        build: docker/nodejs
        restart: always
        volumes:
            - ./app:/var/www/app
        stdin_open: true
        tty: true

    nginx:
        build: docker/nginx
        restart: always
        volumes:
            - ./app:/var/www/app
