version: '3.0'

services:
    lt_nodejs:
        build: docker/nodejs
        restart: always
        container_name: lt_nodejs
        volumes:
            - ./app:/var/www/lazy-tile-api/app
        stdin_open: true
        tty: true
        depends_on:
            - db

    db:
        image: mysql:5.7
        container_name: tl_db
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: lazy_time
            MYSQL_USER: root
            MYSQL_PASSWORD: root
        command: mysqld --sql_mode="STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
        volumes:
            - ./dbdata:/var/lib/mysql
